.orderDetailsPage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.orderDetailsContainer {
  padding: 20px;
}

.orderDetailsContainer > h1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.orderDetailsContainer > p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 15px;
}

.orderDetailsContainerBox > div {
  display: flex;
  margin: 10px 0;
}

.orderDetailsContainerBox > div > p {
  font-size: 1rem;
  color: black;
}

.orderDetailsContainerBox > div > span {
  margin: 0 10px;
  font-size: 0.9rem;
  color: #575757;
  display: flex;
  align-items: center;
}

.orderDetailsCartItems {
  padding: 20px;
  padding-top: 10px;
}

.orderDetailsCartItems > p {
  font-size: 1.5rem;
  font-weight: 600;
}

.orderDetailsCartItemsContainer {
  max-height: 200px;
  overflow-y: auto;
}

.orderDetailsCartItemsContainer > div {
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.orderDetailsCartItemsContainer > div > img {
  width: 50px;
}

.orderDetailsCartItemsContainer > div > a {
  color: #575757;
  margin: 0 20px;
  width: 60%;
  text-decoration: none;
}

.orderDetailsCartItemsContainer > div > span {
  font-size: 0.9rem;
  color: #5e5e5e;
}

.greenColor {
  color: green;
}

.redColor {
  color: red;
}
/* ProcessOrder Page */

.processOrderPage {
  padding-left: 20px;
}
.processOrderPage > h1 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.processOrderPage > p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .orderDetailsPage {
    width: 100%;
    flex-direction: column;
  }

  .orderDetailsPage > .orderDetailsContainer {
    padding: 12vw;
  }

  .orderDetailsPage > .orderDetailsContainer > h1 {
    margin-bottom: 8vw;
  }

  .orderDetailsPage > .orderDetailsContainer > p {
    font-size: 1.3rem;
    margin-top: 8vw;
  }

  .orderDetailsContainerBox {
    margin: 6px 0;
  }

  .orderDetailsContainerBox > div > p {
    font-size: 1rem;
  }

  .orderDetailsContainerBox > div > span {
    font-size: 0.9rem;
  }

  .orderDetailsCartItems {
    padding: 12vw;
    padding-top: 6vw;
  }

  .orderDetailsCartItems > p {
    font-size: 1.5rem;
  }

  .orderDetailsCartItemsContainer {
    max-height: 50vh;
  }

  .orderDetailsCartItemsContainer > div {
    font-size: 1rem;
    margin: 8px 0;
  }

  .orderDetailsCartItemsContainer > div > img {
    width: 15%;
  }

  .orderDetailsCartItemsContainer > div > a {
    margin: 0;
    width: 40%;
  }

  .orderDetailsCartItemsContainer > div > span {
    font-size: 0.9rem;
  }
}
