.sidebar-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-container .sidebar {
  height: 100%;
  width: 260px;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.13);

  transition: all 0.4s ease;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 26px;
}
.sidebar-content .list {
  list-style: none;
}
.sidebar .lists .list a {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 10px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}
.sidebar .lists .list a:hover {
  background-color: #ddd;
}
.sidebar .list a .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #404040;
}
.sidebar .list a .link {
  color: #404040;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
}

.sidebar .lists .list a svg {
  color: #404040;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 200%;
  opacity: 0;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  pointer-events: none;
}
.overlay.active {
  opacity: 1;
  left: 256px;
  pointer-events: auto;
}

.sidebar-products .sidebar-options {
  margin-left: 20px;
}
.sidebar-products .sidebar-options .list a {
  padding: 5px 8px;
}
.sidebar-products .sidebar-options .list .link {
  font-size: 15px;
}
.sidebar-products .sidebar-options {
  display: none;
}
.sidebar-products.active .sidebar-options {
  display: block;
}
.sidebar-products.active .list a svg {
  transform: rotate(-180deg);
}
.dashboard-btn {
  position: fixed;
  top: 100px;
  left: 0;
  padding-left: 5px;
  color: #fff;
  padding: 6px 10px 2px 8px;
  background-color: var(--green);
  cursor: pointer;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: none;
}
.sidebar-close-btn {
  position: absolute;
  top: 30px;
  right: 0;
  color: #000;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 926px) {
  .sidebar-container {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 300;
    margin-left: -100%;
  }
  .dashboard-btn {
    display: block;
  }
  .sidebar-container.active {
    margin-left: 0;
  }

  .sidebar-container.active .dashboard-btn {
    display: none;
  }
  .sidebar-container.active .sidebar-close-btn {
    display: block;
  }
  .sidebar-container .sidebar {
    position: fixed;
    margin-top: 0;
    top: 80px;
    border-right: none;
  }
  .list a .link {
    font-size: 16px;
    font-weight: 400;
  }
}
