.product-container {
  width: 95%;
  max-width: 1024px;
  margin: 30px auto;
  margin-top: 110px;
}
.product-details {
  padding: 30px;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 30px;
}
.product-page-img {
  border: 1px solid #eee;
  padding: 5px;
  overflow: hidden;
  position: relative;
  margin: auto;
  cursor: pointer;
}
.product-page-img .numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.661);
  text-shadow: 0 0 4px var(--green);
  font-size: 12px;
  padding: 2px 5px;
  position: absolute;
}
.mySlides {
  height: 330px;
}
.mySlides img {
  height: 100%;
}

.product-page-img .prev,
.product-page-img .next {
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}
.product-page-img .next {
  right: 0;
}
.product-page-img .prev {
  left: 0;
}

.product-page-img:hover .prev,
.product-page-img:hover .next {
  background: rgb(0, 0, 0, 0.8);
}
.product-page-img .slider-img {
  width: 100%;
  height: 50px;
  overflow-x: scroll;
  display: flex;
  user-select: none;
}

.product-page-img .slider-img::-webkit-scrollbar {
  display: none;
}
.product-page-img .slider-img .slider-box {
  width: 50px;
  height: 50px;
  min-width: 50px;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 2px;
  opacity: 0.6;
}
.product-page-img .slider-img .slider-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
.product-page-img .slider-img .slider-box:hover {
  border: 1px solid var(--green);
  opacity: 1;
}
.product-page-img .slider-img .slider-box.active {
  border: 2px solid tomato;
  opacity: 1;
}
.product-page-details strong {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: capitalize;
}
.product-page-details .product-category {
  font-size: 0.9rem;
  color: #535353;
  font-weight: 200;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.product-page-details .product-review {
  display: flex;
  align-items: center;
}
.product-page-details .product-review .review-count {
  margin-left: 15px;
  font-size: 15px;
  color: grey;
}

.product-page-details .product-price {
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.product-page-details .small-desc {
  color: #4b4b4b;
  font-size: 0.9rem;
  background: #fcfcfc;
  font-weight: 400;
  padding: 10px;
  border: 1px solid #f7f7f7;
  margin-bottom: 10px;
}

.quantity {
  display: flex;
  align-items: center;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 500;
}

.quantity button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.product-page-details .cart-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}
.product-page-details .cart-btn .add-cart {
  background: #333;
  color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}
.product-page-details .cart-btn .buy-now {
  background: var(--green);
  margin-left: 10px;
}
.product-page-details .product-status {
  margin-top: 15px;
}
.product-page-details .product-status .greenColor {
  color: green;
  font-family: "Roboto";
}
.product-page-details .product-status .redColor {
  color: red;
  font-family: "Roboto";
}
.review-btn {
  margin-top: 15px;
  background-color: var(--green);
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 12px;
}

.reviews-heading {
  color: #000000be;
  font: 600 "Roboto";
  text-align: center;
  margin: 30px auto;
}
.review-card {
  flex: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
  border: 1px solid rgba(0, 0, 0, 0.226);
  width: 30vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  margin-top: 50px;
  padding: 3vmax;
}
.review-card > img {
  width: 50px;
}
.review-card > p {
  color: rgba(0, 0, 0, 0.836);
}
.review-card > span {
  color: rgba(0, 0, 0, 0.665);
  font-size: 14px;
  font-weight: 500;
}
.no-reviews {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.548);
  margin-top: 10px;
}
.reviews {
  margin-top: 20px;
  display: flex;
  overflow: auto;
}

.review-post button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: var(--green);
  border-radius: 6px;
  cursor: pointer;
}
.review-post button:hover {
  background-color: var(--green);
}

.review-modalBox {
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.review-modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  padding: 20px 10px;
  border-radius: 14px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
.review-post.active .review-modalBox {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.overlay-review {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: auto;
}

.review-modalBox i {
  font-size: 70px;
  color: var(--green);
}
.review-modalBox h2 {
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.review-modalBox h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.review-modalBox .reviewPostBtn {
  margin-top: 25px;
}
.review-modalBox button {
  font-size: 18px;
  padding: 6px 12px;
  margin: 0 10px;
}

@media (max-width: 991px) {
  .product-details {
    grid-template-columns: 1fr;
    padding: 0px;
  }

  .product-page-img .mySlides {
    width: fit-content;
    margin: auto;
  }
  .review-card > p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .product-details .cart-btn {
    flex-direction: column;
    width: 100%;
  }
  .product-page-img .mySlides {
    height: 280px;
  }
  .product-details .cart-btn .add-cart {
    width: 100%;
    margin-top: 10px;
  }
  .product-details .cart-btn .buy-now {
    margin-left: 0;
  }
}
