.cardItemCard {
  display: flex;
  padding: 20px;
}
.cardItemCard > img {
  width: 100px;
}
.cardItemCard > div {
  display: flex;
  margin: 7px 20px;
  flex-direction: column;
}
.cardItemCard > div > a {
  font: 300 20px;
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
}
.cardItemCard > div > span{
    font: 400 17px "Roboto";
    color: rgba(24,24,24,0.815);
}
.cardItemCard > div>p{
    color: tomato;
    font: 200 15px "Roboto";
    cursor: pointer;
}
@media screen and (max-width: 600px){
    .cardItemCard{
        padding: 10px;
        
        
    }
    .cardItemCard > img {
      width: 60px;
      padding-right: 5px;
    }
    .cardItemCard > div {
    padding: 0;
    margin: 0;
    }
  
}