.shippingContainer{
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shippingBox{
    background-color: #fff;
    width:350px;
    overflow: hidden;
    padding-top: 15px;
    box-shadow: var(--box-shadow);

}
.shippingHeading{
    text-align: center;
    color: rgb(105, 105, 105);
    font: 400 20px "Roboto";
    width: 50%;
    margin: auto;
}
.shippingForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 40px;
    height: 80%;
    transition: all 0.5s;
}
.shippingForm > div{
    display: flex;
    width: 100%;
    align-items: center;

}
.shippingForm >div>input,
.shippingForm >div>select{
    display: flex;
    padding: 15px 40px;
    padding-right: 20px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 4px;
    font: 100 15px;
    outline: none;
    margin-top: 10px;
}
.shippingForm > div>svg{
    position: absolute;
    transform: translateX(2px);
    font-size: 30px;
    color: rgba(0, 0, 0, 0.605);
}
.shippingForm > div [type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.shippingBtn{
    border: none;
    background-color: var(--green);
    color: #fff;
    outline: none;
    margin-top: 15px;
    padding: 10px 25px;
    cursor: pointer;
}
.shippingBtn:hover{
    background-color: var(--green-light);
}

@media screen and (max-width:600px){
}



  









